/* Macondo, DynaPuff, Patrick Hand */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=DynaPuff&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: underline;
}

.header, .header__dark-mode {
    position: relative;
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    font-size: 6.5vw;
    font-family: DynaPuff, cursive;

}

.header {
    color: black;
    background-color: #ebebeb; /* gray */
    border-bottom: .5vw solid black;
}
.header__dark-mode {
    color: white;
    background-color: black;
    border-bottom: .5vw solid white;
}

.header div, .header__dark-mode div {
    margin: 0 2vw;
}

.header div span, .header__dark-mode div span {
    font-size: 1vw;
    font-family: Ubuntu, monospace;
}

.clock {
    font-size: 1.5vw;
    font-family: "Noto Mono", sans-serif;
}

.moon-theme-changer-button, .sun-theme-changer-button {
    position: absolute;
    bottom: -7vh;
    right: 3vw;
    transform: scale(2.2, 2.2);
}
.moon-theme-changer-button:hover, .sun-theme-changer-button:hover {
    cursor: pointer;
}
.moon-theme-changer-button:hover {
    content: url("moon-hover.svg");
}
.sun-theme-changer-button:hover {
    content: url("sun-hover.svg");
}


.playground-header, .playground-header__dark-mode {
    display: flex;
    width: 100vw;
    height: 10vh;
    margin: 5vh auto 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Patrick Hand", sans-serif;
    font-size: 2vw;
}
.playground-header {
    color: black;
}
.playground-header__dark-mode {
    color: white;
}

.playground {
    position: relative;
    width: 27vw;
    height: 54vh;
    display: flex;
    margin: 4vh auto;
    flex-wrap: wrap;
    box-shadow: .5vw .5vh 2vw #6e6e6e, -.5vw .5vh 2vw #6e6e6e, 0 -.5vh 2vw #6e6e6e, 0 .5vh 2vw #6e6e6e; /* gray shadow */
}

button {
    font-size: 1.7vw;
    font-family: "Patrick Hand", cursive;
    background-color: #fafafa; /* milky white */
    border: .2vw solid black;
}
button:hover {
    cursor: pointer;
    background-color: #dbdbdb; /* light gray */
}
.refresh-button {
    position: absolute;
    top: 2vh;
    right: -15vw;
    width: 12vw;
    height: 7vh;
    color: black;
}

.refresh-button__dark-mode {
    position: absolute;
    top: 2vh;
    right: -15vw;
    width: 12vw;
    height: 7vh;
    color: white;
    background-color: #303030; /* milky black */
    border: .2vw solid black;
}
.refresh-button__dark-mode:hover {
    background-color: #4f4f4f; /* gray */
}

.field, .field__dark-mode {
    display: flex;
    width: 9vw;
    height: 18vh;
    border: 1px dashed black;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-family: Macondo, cursive;

}
.field {
    color: black;
    background-color: #fafafa; /* milky white */
}
.field__dark-mode {
    color: white;
    background-color: #303030; /* milky black */
}

.field:hover, .field__dark-mode:hover {
    cursor: pointer;
}
.field:hover {
    background-color: #dbdbdb; /* light gray */
}
.field__dark-mode:hover {
    background-color: #4f4f4f; /* gray */
}

.footer, .footer__dark-mode {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    font-family: DynaPuff, monospace;
}
.footer {
    color: black;
    background-color: #ebebeb; /* gray */
    border-top: .5vw solid black;
}
.footer__dark-mode {
    color: white;
    background-color: black;
    border-top: .5vw solid white;
}

.footer div, .footer__dark-mode div {
    margin: 0 2vw;
}

.footer-email, .footer-email__dark-mode {
    font-family: Noto Mono, monospace;
    font-size: 1vw;
}
.footer-email {
    color: black;
}
.footer-email__dark-mode {
    color: white;
}


#color-fill, #color-fill__dark-mode {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
#color-fill {
    color: black;
}
#color-fill__dark-mode {
    color: white;
}

#color-fill:after, #color-fill__dark-mode:after {
    display: inline-block;
    content: attr(data);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow-x: hidden;
    transition: width .3s ease-in-out;
}
#color-fill:after {
    color: white;
    background-color: black;
    -webkit-text-stroke-color: black;
}
#color-fill__dark-mode:after {
    color: black;
    background-color: white;
    -webkit-text-stroke-color: black;
}

#color-fill:hover:after, #color-fill__dark-mode:hover:after {
    width: 100%;
}


@keyframes error-notifier-disappearance {
    from {opacity: 1}
    90% {opacity: .1}
    100% {opacity: 0; z-index: -1}
}

.error-notifier {
    display: flex;
    width: 23vw;
    height: 15vh;
    border: .2vw solid black;
    border-radius: 1vw;
    background-color: #db1d1d;
    color: white;
    font-size: 1.1vw;
    font-family: "Patrick Hand", Dialog, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1vh;
    right: .5vw;
    padding: 2vh 2vh;
    opacity: 1;
    z-index: 1;

    animation-name: error-notifier-disappearance;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* FOR PHONES (VERTICAL ORIENTATION) */
@media (max-width: 600px) {
    .header, .header__dark-mode {
        height: 7vh;
        font-size: 25px;
    }
    .header {
        border-bottom: .8vw solid black;
    }
    .header__dark-mode {
        border-bottom: .8vw solid white;
    }

    .header div span, .header__dark-mode div span {
        font-size: 10px;
        font-family: Ubuntu, monospace;
    }

    .clock {
        font-size: 13px;
    }

    .moon-theme-changer-button, .sun-theme-changer-button {
        bottom: -5vh;
        right: 5vw;
        transform: scale(1.5, 1.5);
    }
    .moon-theme-changer-button:hover, .sun-theme-changer-button:hover {
        cursor: pointer;
    }

    .playground-header, .playground-header__dark-mode {
        font-size: 35px;
    }
    .playground-header {
        color: black;
    }
    .playground-header__dark-mode {
        color: white;
    }

    .playground {
        width: 90vw;
        height: 51vh;
        margin: 0 auto;
        box-shadow: 1vw 1vh 2vw #6e6e6e, -1vw 1vh 2vw #6e6e6e, 0 -1vh 2vw #6e6e6e, 0 1vh 2vw #6e6e6e, 1vw -1vh 2vw #6e6e6e, -1vw -1vh 2vw #6e6e6e; /* gray shadow */
    }

    button {
        font-size: 25px;
    }

    .refresh-button, .refresh-button__dark-mode {
        top: unset;
        bottom: -10vh;
        right: 25vw;
        width: 39vw;
        min-height: auto;
        max-height: 7vh;
    }
    .refresh-button {
        color: black;
        background-color: #fafafa; /* milky white */
    }
    .refresh-button__dark-mode {
        color: white;
        background-color: #303030; /* milky black */
    }
    .refresh-button:hover {
        background-color: #dbdbdb; /* light gray */
    }
    .refresh-button__dark-mode:hover {
        background-color: #4f4f4f; /* gray */
    }

    .field, .field__dark-mode {
        width: 30vw;
        height: 17vh;
        font-size: 65px;
        font-family: Macondo, cursive;
        color: black;
    }
    .field {
        color: black;
        background-color: #fafafa; /* milky white */
    }
    .field__dark-mode {
        color: white;
        background-color: #303030; /* milky black */
    }
    .field:hover {
        background-color: #dbdbdb; /* light gray */
    }
    .field__dark-mode:hover {
        background-color: #4f4f4f; /* gray */
    }

    .footer, .footer__dark-mode {
        position: absolute;
        bottom: 0;
        min-height: 10vh;
        max-height: 15vh;
        font-size: 20px;
        font-family: DynaPuff, monospace;
    }
    .footer {
        color: black;
        background-color: #ebebeb; /* gray */
        border-top: .8vw solid black;
    }
    .footer__dark-mode {
        color: white;
        background-color: black;
        border-top: .8vw solid white;
    }
    .footer div, .footer__dark-mode div {
        margin: 0 5vw;
    }

    .footer-email, .footer-email__dark-mode {
        width: 25vw;
        min-height: 3vh;
        max-height: 5vh;
        overflow-wrap: break-word;
        font-size: 10px;
    }
    .footer-email {
        color: black;
    }
    .footer-email__dark-mode {
        color: white;
    }

    @keyframes error-notifier-disappearance {
        from {opacity: .6}
        90% {opacity: .1}
        100% {opacity: 0; z-index: -1}
    }

    .error-notifier {
        width: 70vw;
        height: 20vh;
        border: 3px solid black;
        font-size: 20px;
        bottom: 40vh;
        right: 15vw;
        opacity: .6;

        animation-name: error-notifier-disappearance;
        animation-delay: 3s;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
}


/* FOR TABLETS OR IPADS*/
@media (min-width: 600px) and (max-width: 900px) {
    .header, .header__dark-mode {
        height: 7vh;
        font-size: 40px;
    }
    .header {
        border-bottom: .8vw solid black;
    }
    .header__dark-mode {
        border-bottom: .8vw solid white;
    }

    .header div span, .header__dark-mode div span {
        font-size: 15px;
        font-family: Ubuntu, monospace;
    }

    .clock {
        font-size: 20px;
    }

    .moon-theme-changer-button, .sun-theme-changer-button {
        bottom: -5vh;
        right: 5vw;
        transform: scale(1.5, 1.5);
    }
    .moon-theme-changer-button:hover, .sun-theme-changer-button:hover {
        cursor: pointer;
    }

    .playground-header, .playground-header__dark-mode {
        font-size: 35px;
    }
    .playground-header {
        color: black;
    }
    .playground-header__dark-mode {
        color: white;
    }

    .playground {
        width: 90vw;
        height: 51vh;
        margin: 0 auto;
        box-shadow: 1vw 1vh 2vw #6e6e6e, -1vw 1vh 2vw #6e6e6e, 0 -1vh 2vw #6e6e6e, 0 1vh 2vw #6e6e6e, 1vw -1vh 2vw #6e6e6e, -1vw -1vh 2vw #6e6e6e; /* gray shadow */
    }

    button {
        font-size: 25px;
    }

    .refresh-button, .refresh-button__dark-mode {
        top: unset;
        bottom: -10vh;
        right: 25vw;
        width: 39vw;
        min-height: auto;
        max-height: 7vh;
    }
    .refresh-button {
        color: black;
        background-color: #fafafa; /* milky white */
    }
    .refresh-button__dark-mode {
        color: white;
        background-color: #303030; /* milky black */
    }
    .refresh-button:hover {
        background-color: #dbdbdb; /* light gray */
    }
    .refresh-button__dark-mode:hover {
        background-color: #4f4f4f; /* gray */
    }

    .field, .field__dark-mode {
        width: 30vw;
        height: 17vh;
        font-size: 65px;
        font-family: Macondo, cursive;
        color: black;
    }
    .field {
        color: black;
        background-color: #fafafa; /* milky white */
    }
    .field__dark-mode {
        color: white;
        background-color: #303030; /* milky black */
    }
    .field:hover {
        background-color: #dbdbdb; /* light gray */
    }
    .field__dark-mode:hover {
        background-color: #4f4f4f; /* gray */
    }

    .footer, .footer__dark-mode {
        position: absolute;
        bottom: 0;
        min-height: 10vh;
        max-height: 15vh;
        font-size: 20px;
        font-family: DynaPuff, monospace;
    }
    .footer {
        color: black;
        background-color: #ebebeb; /* gray */
        border-top: .8vw solid black;
    }
    .footer__dark-mode {
        color: white;
        background-color: black;
        border-top: .8vw solid white;
    }
    .footer div, .footer__dark-mode div {
        margin: 0 5vw;
    }

    .footer-email, .footer-email__dark-mode {
        width: 25vw;
        min-height: 3vh;
        max-height: 5vh;
        overflow-wrap: break-word;
        font-size: 15px;
    }
    .footer-email {
        color: black;
    }
    .footer-email__dark-mode {
        color: white;
    }

    @keyframes error-notifier-disappearance {
        from {opacity: .6}
        90% {opacity: .1}
        100% {opacity: 0; z-index: -1}
    }

    .error-notifier {
        width: 70vw;
        height: 20vh;
        border: 3px solid black;
        font-size: 20px;
        bottom: 40vh;
        right: 15vw;
        opacity: .6;

        animation-name: error-notifier-disappearance;
        animation-delay: 3s;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
}


@media (hover: none) {
    .moon-theme-changer-button {
        content: url("moon-hover.svg");
    }
    .sun-theme-changer-button {
        content: url("sun-hover.svg");
    }
}

